Flask
Bootstrap_Flask
Flask_CKEditor
Flask_Login
Flask-Gravatar
flask_sqlalchemy
Flask_WTF
Werkzeug
WTForms
SQLAlchemy
psycopg2-binary
# uwsgi==2.0.18
uwsgi
requests
boto3
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability